bytewax==0.18.0
confluent-kafka==2.4.0
fastapi==0.111.0
fastavro==1.9.4
kafka-python==2.0.2
marshmallow<4.0.0
numpy==1.26.4
pandas==2.2.2
pymilvus==2.4.4
requests==2.32.3
sentence-transformers==3.0.1
streamlit==1.37.0
torch==2.3.1
tqdm==4.66.4
uvicorn[standard]==0.30.1